/*
* @Author: user
* @Date:   2017-07-21 11:21:27
* @Last Modified by:   user
* @Last Modified time: 2017-07-24 17:59:27
*/
.container{
	width: 100px;
}
.header{
	width: 100%;
	height: 50px;
}